<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SAARHEntities" connectionString="metadata=res://*/SAARHModel.csdl|res://*/SAARHModel.ssdl|res://*/SAARHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VINICIUS_NOTE\VINICIUS;initial catalog=SAARH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SAARHEntities" connectionString="metadata=res://*/SAARHModel.csdl|res://*/SAARHModel.ssdl|res://*/SAARHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL-PC;initial catalog=SAARH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SAARHEntities" connectionString="metadata=res://*/SAARHModel.csdl|res://*/SAARHModel.ssdl|res://*/SAARHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL-PC;initial catalog=SAARH2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" name=".ASPXFORMSAUTH" timeout="60"/>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="ConsultarRecursos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CadastrarCompetencia.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AtualizarCompetencias.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CadastrarUsuario.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>        
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CadastrarProjeto.aspx">
    <system.web>
      <authorization>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarProjetos.aspx">
    <system.web>
      <authorization>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AlterarProjeto.aspx">
    <system.web>
      <authorization>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BuscarEquipe.aspx">
    <system.web>
      <authorization>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AvaliarEquipe.aspx">
    <system.web>
      <authorization>
        <allow roles="Gerente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Perfil.aspx">
    <system.web>
      <authorization>
        <allow roles="Funcionario"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AdicionarCompetenciasPerfil.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Historico.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="VisualizarHistorico.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <allow roles="Gerente"/>
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarCompetencias.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>